<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VM.DisasterRecovery.Persistence.Properties.Persistence" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="VM.DisasterRecovery.Persistence.Persistence" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VM.DisasterRecovery.Persistence.Properties.Persistence" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <VM.DisasterRecovery.Persistence.Properties.Persistence>
      <setting name="ConnectionStringName" serializeAs="String">
        <value>DisasterRecoveryConnection</value>
      </setting>
      <setting name="UnitOfWorkCommitChangesSuccess" serializeAs="String">
        <value>Requested changes have been saved.</value>
      </setting>
      <setting name="UnitOfWorkCommitChangesFailed" serializeAs="String">
        <value>Unable able to save changes! Please try again later.</value>
      </setting>
      <setting name="UnitOfWorkCommitChangesValidationError" serializeAs="String">
        <value>Unable able to save changes due to one or more records being in an invalid state.</value>
      </setting>
    </VM.DisasterRecovery.Persistence.Properties.Persistence>
    <VM.DisasterRecovery.Persistence.Persistence>
      <setting name="ConnectionStringName" serializeAs="String">
        <value>DisasterRecoveryConnection</value>
      </setting>
    </VM.DisasterRecovery.Persistence.Persistence>
  </applicationSettings>
  <userSettings>
    <VM.DisasterRecovery.Persistence.Properties.Persistence>
      <setting name="UnitOfWorkCommitChangesConcurrencyError" serializeAs="String">
        <value>Unable able to save changes due to one or more of the records have already have modified.</value>
      </setting>
    </VM.DisasterRecovery.Persistence.Properties.Persistence>
  </userSettings>
</configuration>